<div id="businesses-index">
	<div class="container">
		<table class="table-default">
			<thead>
				<tr>
					<th></th>
					<th>Name</th>
					<th>Email</th>
					<th>Phone</th>
					<th>Address</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<%= render @businesses %>
			</tbody>
		</table>
	</div>
</div>
