<tr>
	<td><%= user.name %></td>
	<td><%= user.email %></td>
	<td><%= user.role %></td>
	<td class="nowrap">
		<%= link_to "edit", edit_user_path(user), class: "button button-secondary button-small", "data-push" => "true", "data-target" => "#yield-container" %>
	</td>
</tr>
