<div id="users-index">
	<div class="container">
		<table class="table-default">
			<thead>
				<tr>
					<th>Name</th>
					<th>Email</th>
					<th>Role</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<%= render @users %>
			</tbody>
		</table>
	</div>
</div>
