@import "universal.scss";

/* index */

#businesses-index {
	.container {
		table {
			width: 100%;
			margin: 40px 0;
		}
	}
}

/* _business */

.business {
	.thumbnail-cell {
		padding-right: 0;
	}
}
