@import "universal.scss";

/* index */

#users-index {
	.container {
		table {
			width: 100%;
			margin: 40px 0;
		}
	}
}

/* edit */

#users-edit {
	.container {
		form {
			margin: 40px 0;
		}
	}
}
